<div class="container-fluid text-center">
    <h1>This is the about page.</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive 
    enviroment where entrepreneurs can meet developers.</p>
</div>