<!DOCTYPE html> 
<html>
    <head></head>
    <body>
        <P>You have received a message from the site's contact form, from
        <%= "#{ @name }, #{ @email }." %></P>
        <p><%= @body %></p>
    </body>
</html>